body {
  height: auto;
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e87c18;
  height: 5px;
  border-radius: 15px;
}

.navbar-color {
  background-color: rgb(245, 245, 245);
}

#navbarNav ul li a {
  color: #e87c18;
  font-size: 16px;
  font-weight: bold;
}
/* akhir navbar */

/* header */
.judul-atas {
  font-family: "kanit", sans-serif;
  font-size: 36px;
  color: #e87c18;
  font-weight: bold;
}

.sub-judul {
  font-family: "kanit", sans-serif;
  font-size: 32px;
}

.p-header {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.model-img {
  margin-top: 120px;
}
.model {
  width: 350px;
}
/* akhir header */

/* content */
.card-content {
  width: 100%;
  height: auto;
  margin: 0px auto 0px;
}

.judul-content {
  font-size: 20px;
  color: black;
  font-family: "Poppins", sans-serif;
}

.p-content {
  font-size: 16px;
  color: #8f8f8f;
  font-family: "Poppins", sans-serif;
}
/* akhir-content */

/* cta */
#cta {
  margin-top: 80px;
  margin-bottom: 80px;
}

.cta-wadah {
  background-color: #7d7d7d;
  width: 100%;
  height: 100px;
  margin: 0px auto 0px;
  border-radius: 10px;
}

.judul-cta {
  line-height: 100px;
  color: white;
  font-family: "kanit", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.button-cta {
  line-height: 100px;
  text-align: end;
}

.btn-dua {
  background-color: #e87c18;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.btn-satu {
  background-color: #7d7d7d;
  color: white;
  border: 1px solid #e87c18;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
/* akhir-cta */

/* footer */
#footer {
  background-color: black;
  height: 165px;
  overflow: hidden;
}

#footer h2 {
  color: white;
  font-family: "kanit", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #e87c18;
}

.ceated-span {
  color: white;
}

.love-span {
  color: red;
}

.by-span {
  color: white;
}

#footer .footer-img img {
  height: 40px;
}

#footer .footer-text p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: white;
}

#footer .footer-text p a {
  text-decoration: none;
  color: white;
}

#footer .footer-text a {
  text-decoration: none;
}
/* akhir footer */

/* responsive-scren */

@media (max-width: 1024px) {
  .card-content {
    width: 263px;
    height: auto;
  }

  .model {
    width: 260px;
    margin-top: 50px;
  }

  .cta-wadah {
    width: auto;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .model {
    width: 200px;
    margin-top: 80px;
  }
  .card-content {
    width: 180px;
    height: 90px;
  }

  .cta-wadah {
    width: auto;
    height: 100px;
  }

  .judul-cta {
    font-size: 24px;
    text-align: start;
    line-height: 100px;
    margin-bottom: 0px;
  }
  .button-cta {
    text-align: end;
    line-height: 100px;
  }
  .btn-satu,
  .btn-dua {
    text-align: end;
    font-size: 14px;
  }

  #footer {
    background-color: black;
  }

  #footer h2 {
    color: white;
    font-family: "kanit", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #e87c18;
  }

  #footer .footer-img img {
    height: 25px;
  }

  #footer .footer-text p {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: white;
  }

  #footer .footer-text p a {
    text-decoration: none;
    color: white;
  }

  #footer .footer-text a {
    text-decoration: none;
  }
}

@media (max-width: 425px) {
  body {
    text-align: center;
    margin: 0px auto;
  }
  p {
    text-align: start;
  }

  h1 {
    text-align: start;
  }

  h3 {
    text-align: start;
  }

  .navbar-logo {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
  }

  .model {
    width: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow: hidden;
    text-align: center;
    margin: 0px auto;
  }

  .card-content {
    width: 100%;
    height: auto;
  }

  .cta-wadah {
    width: auto;
    height: auto;
  }

  .judul-cta {
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 0px;
  }
  .button-cta {
    text-align: center;
  }
  .btn-satu,
  .btn-dua {
    text-align: center;
  }
  #footer {
    background-color: black;
    height: 50px;
    overflow: hidden;
  }

  #footer h2 {
    color: white;
    font-family: "kanit", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #e87c18;
  }

  #footer .footer-img img {
    height: 20px;
  }

  #footer .footer-text p {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: white;
  }

  #footer .footer-text p a {
    text-decoration: none;
    color: white;
  }

  #footer .footer-text a {
    text-decoration: none;
  }
}

@media (max-width: 375px) {
  body {
    text-align: center;
    margin: 0px auto;
  }
  p {
    text-align: start;
  }

  h1 {
    text-align: start;
  }

  h3 {
    text-align: start;
  }

  .navbar-logo {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
  }

  .model {
    width: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow: hidden;
    text-align: center;
    margin: 0px auto;
  }

  .card-content {
    width: 100%;
    height: auto;
  }

  .cta-wadah {
    width: auto;
    height: auto;
  }

  .judul-cta {
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 0px;
  }
  .button-cta {
    text-align: center;
  }
  .btn-satu,
  .btn-dua {
    text-align: center;
  }
  #footer {
    background-color: black;
    height: 50px;
    overflow: hidden;
  }

  #footer h2 {
    color: white;
    font-family: "kanit", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #e87c18;
  }

  #footer .footer-img img {
    height: 20px;
  }

  #footer .footer-text p {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: white;
  }

  #footer .footer-text p a {
    text-decoration: none;
    color: white;
  }

  #footer .footer-text a {
    text-decoration: none;
  }
}

@media (max-width: 320px) {
  .card-content {
    width: 100%;
    height: auto;
  }
}
