*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.logo img{
    height: 70px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 20px;
    background-color: white;
    box-shadow: 2px 2px 20px #0a0a0a4b;
    z-index: 9999;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    letter-spacing: 1px;
}

nav ul li a:hover{
    background-color: #b71c1c;
    color: white;
    box-shadow: 5px 10px 30px #0a0a0a4b;
    transition: all ease 0.2s;
    border-radius: 10px;
}

h3{
    margin: 0px auto;
    font-family: sans-serif;
    font-weight: 700;
    color: #b71c1c;
    font-size: 24px;
}

.garis{
    width: 80%;
    height: 40px;
    background-color: #b71c1c;
    margin: 85px auto 5px;
    border-radius: 16px;
}

.garis p{
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
}

.tata{
    width: 80%;
    height: 1600px;
    background-image: url(gambar/bg1.jpg);
    border-radius: 20px;
    box-shadow: 2px 2px 12px #0a0a0a4b;
    margin: 7px auto 20px auto;
    align-items: center;
}

.tata img{
    margin: 20px 40%;
    border: 5px solid #b71c1c;
    box-shadow:#0a0a0a4b ;
    border-radius: 20px;
}

.text-container p:nth-child(1){
    font-family:sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    font-size: 60px;
}

.text-container p:nth-child(2){
    font-family: 'Quicksand', sans-serif;
    color: #b71c1c;
    font-size: 30px;
    line-height: 30px;
}

.text-container p{
    text-align: center;
    margin: 5px;
}

.text-container{
    text-align: center;
    justify-content: center;
    margin-bottom: 70px;
}

.text-container button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 10px 10px;
    text-align: center;

}

.read-more {
    background-color: #b71c1c;
    color: white;
    border: none;
    text-align: center;
}

.read-more a{
    color: white;
}

button:active {
    transform: scale(1.1);
}

footer{
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

footer p{
    font-family: sans-serif;
}

footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: black;
    line-height: 10px;
    margin-bottom: 20px;
}

footer p:nth-child(2){
    font-size: 16px;
    color: black;
    width: 600px;
    text-align: center;
}

.social-icon a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b71c1c;
    margin: 10px 10px;
    border-radius: 50%;
}

.social-icon{
    display: flex;
}

.copyright p{
    color: black;
    font-size: 13px;
    font-weight: bold;
    transform: translateX(-50%);
    margin: 20px auto;
    font-weight: bold;
}

.social-icon i,
.a-social-b i{
    color: white;
}

.social-icon a:hover,
.a-social-b a:hover{
    background-color: black;
    box-shadow: 2px 2px 12px #2d2a2a;
    transition: all ease 0.5s;
}





